// Cores
$cinza: #2a2426;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900&display=swap');
$fonte-1:'Roboto', sans-serif;

// Função de CONVERTER PX to EM
@function em($pixel, $contexto: 16) {
    @return $pixel / $contexto + em;
}

// Mixins Tipografia
@mixin tipo-1($size){
    font-family: $fonte-1;
    @if $size == 14 {
        font-size: em(14);
        line-height: (26px);
    }
    @else if $size == 16 {
        font-size: em(16);
    }
    @else if $size == 18 {
        font-size: em(18);
    }
    @else if $size == 32 {
        font-size: em(32);
        line-height: (42px);
    }
}

// @mixin tipo-2($size) {
//     font-family: $fonte-2;
//     @if $size == 18 {
//         font-size: em(18);
//         line-height: (30,18);
//     }
//     @else if $size == 24 {
//         font-size: em(24);
//         line-height: (30,24);
//     }
// }
